[submodule "Drivers/STM32U0xx_HAL_Driver"]
	path = Drivers/STM32U0xx_HAL_Driver
	url = https://github.com/STMicroelectronics/stm32u0xx_hal_driver.git
	branch = main
[submodule "Drivers/CMSIS/Device/ST/STM32U0xx"]
	path = Drivers/CMSIS/Device/ST/STM32U0xx
	url = https://github.com/STMicroelectronics/cmsis_device_u0.git
	branch = main
[submodule "Drivers/BSP/STM32U0xx_Nucleo"]
	path = Drivers/BSP/STM32U0xx_Nucleo
	url = https://github.com/STMicroelectronics/stm32u0xx-nucleo-bsp.git
	branch = main
[submodule "Drivers/BSP/STM32U083C-DK"]
	path = Drivers/BSP/STM32U083C-DK
	url = https://github.com/STMicroelectronics/stm32u083c-dk-bsp.git
	branch = main
[submodule "Drivers/BSP/Components/Common"]
	path = Drivers/BSP/Components/Common
	url = https://github.com/STMicroelectronics/stm32-bsp-common.git
	branch = main
[submodule "Drivers/BSP/Components/stts22h"]
	path = Drivers/BSP/Components/stts22h
	url = https://github.com/STMicroelectronics/stm32-stts22h.git
	branch = main
