[submodule "Drivers/STM32U0xx_HAL_Driver"]
	path = Drivers/STM32U0xx_HAL_Driver
	url = https://github.com/STMicroelectronics/stm32u0xx_hal_driver.git
	branch = main
[submodule "Drivers/CMSIS/Device/ST/STM32U0xx"]
	path = Drivers/CMSIS/Device/ST/STM32U0xx
	url = https://github.com/STMicroelectronics/cmsis_device_u0.git
	branch = main
[submodule "Drivers/BSP/STM32U0xx_Nucleo"]
	path = Drivers/BSP/STM32U0xx_Nucleo
	url = https://github.com/STMicroelectronics/stm32u0xx-nucleo-bsp.git
	branch = main
[submodule "Drivers/BSP/STM32U083C-DK"]
	path = Drivers/BSP/STM32U083C-DK
	url = https://github.com/STMicroelectronics/stm32u083c-dk-bsp.git
	branch = main
[submodule "Drivers/BSP/Components/Common"]
	path = Drivers/BSP/Components/Common
	url = https://github.com/STMicroelectronics/stm32-bsp-common.git
	branch = main
[submodule "Drivers/BSP/Components/stts22h"]
	path = Drivers/BSP/Components/stts22h
	url = https://github.com/STMicroelectronics/stm32-stts22h.git
	branch = main
[submodule "Middlewares/Third_Party/mcuboot"]
	path = Middlewares/Third_Party/mcuboot
	url = https://github.com/STMicroelectronics/stm32-mw-mcuboot
	branch = main
[submodule "Middlewares/Third_Party/mbed-crypto"]
	path = Middlewares/Third_Party/mbed-crypto
	url = https://github.com/STMicroelectronics/stm32-mw-mbedtls
	branch = main
[submodule "Middlewares/ST/cmsis_rtos_threadx"]
	path = Middlewares/ST/cmsis_rtos_threadx
	url = https://github.com/STMicroelectronics/stm32-mw-cmsis-rtos-tx
	branch = main
[submodule "Middlewares/ST/filex"]
	path = Middlewares/ST/filex
	url = https://github.com/STMicroelectronics/stm32-mw-filex
	branch = main
[submodule "Middlewares/ST/levelx"]
	path = Middlewares/ST/levelx
	url = https://github.com/STMicroelectronics/stm32-mw-levelx
	branch = main
[submodule "Middlewares/ST/threadx"]
	path = Middlewares/ST/threadx
	url = https://github.com/STMicroelectronics/stm32-mw-threadx
	branch = main
[submodule "Middlewares/ST/usbx"]
	path = Middlewares/ST/usbx
	url = https://github.com/STMicroelectronics/stm32-mw-usbx
	branch = main
[submodule "Middlewares/ST/OpenBootloader"]
	path = Middlewares/ST/OpenBootloader
	url = https://github.com/STMicroelectronics/stm32-mw-openbl
	branch = main
[submodule "Middlewares/ST/STM32_TouchSensing_Library"]
	path = Middlewares/ST/STM32_TouchSensing_Library
	url = https://github.com/STMicroelectronics/stm32-mw-touchsensing
	branch = main
